<div class="content">
    <h1 class="gradient-text">Escolha um Algoritmo</h1>
    <ul class="menu">
        <li><a class="btn-gradient" href="/otp" style="width: 200px">One Time Pad</a></li>
        <li><a class="btn-gradient" href="/cesar" style="width: 200px">Cifra de César</a></li>
        <li><a class="btn-gradient" href="/vigenere" style="width: 200px">Cifra de Vigenère</a></li>
        <li><a class="btn-gradient" href="/hill" style="width: 200px">Cifra de Hill</a></li>
    </ul>
</div>